In [25]:
import pandas as pd
import os
from utils import col_names

directory = 'data\src'
paths=[]
for filename in os.listdir(directory):
    f = os.path.join(directory, filename).replace("\\","/")

    paths.append(f)

In [18]:
for path in paths:
    print(path)

df = pd.read_csv(paths[0], encoding="windows-1250", sep=',', engine='c')
df.head(5)

data/src/s_d_100_2022.csv
data/src/s_d_105_2022.csv

,354150100,KOŁOBRZEG-DŹWIRZYNO,2022,01,01.1,8.9,Unnamed: 6,4.6,Unnamed: 8,5.5,...,Unnamed: 55,0.2,Unnamed: 57,R,0.3,9.17,0.4,9.18,0.5,8
0,354150100,KOŁOBRZEG-DŹWIRZYNO,2022,1,2,10.9,NaN,5.8,NaN,9.4,...,NaN,0,NaN,R,0,9.0,0,9.0,0,8
1,354150100,KOŁOBRZEG-DŹWIRZYNO,2022,1,3,10.8,NaN,6.4,NaN,7.4,...,NaN,0,NaN,R,0,9.0,0,9.0,0,8
2,354150100,KOŁOBRZEG-DŹWIRZYNO,2022,1,4,7.0,NaN,5.9,NaN,6.0,...,NaN,0,NaN,R,0,9.0,0,9.0,0,8
3,354150100,KOŁOBRZEG-DŹWIRZYNO,2022,1,5,6.5,NaN,1.0,NaN,2.3,...,NaN,0,NaN,Z,6,NaN,0,9.0,0,8
4,354150100,KOŁOBRZEG-DŹWIRZYNO,2022,1,6,3.9,NaN,-0.5,NaN,1.0,...,NaN,0,NaN,R,6,NaN,4,NaN,0,8

In [26]:
print(col_names)

['1', '2']