In [3]:
import pandas as pd
import os
from utils import col_names
from functions import calc_hot_days

directory = 'data\src'
temp_threshold = 27
max_hot_days_streak=[]

for filename in os.listdir(directory):
    f = os.path.join(directory, filename).replace("\\","/")
    print(f)
    df = pd.read_csv(f, encoding="windows-1250", sep=',', header=None)
    df.columns = col_names
    max_hot_days_streak.append([df.station_name[0], calc_hot_days(df,temp_threshold)])

# df = df.rename({0:"station_code", 1:"station_name"}, axis=1)
df_results = pd.DataFrame(max_hot_days_streak).sort_values(1,ascending=False)
df_results

data/src/s_d_100_2022.csv
data/src/s_d_105_2022.csv
data/src/s_d_115_2022.csv
data/src/s_d_120_2022.csv
data/src/s_d_125_2022.csv
data/src/s_d_135_2022.csv
data/src/s_d_155_2022.csv
data/src/s_d_160_2022.csv
data/src/s_d_185_2022.csv
data/src/s_d_195_2022.csv
data/src/s_d_200_2022.csv
data/src/s_d_205_2022.csv
data/src/s_d_210_2022.csv
data/src/s_d_230_2022.csv
data/src/s_d_235_2022.csv
data/src/s_d_250_2022.csv
data/src/s_d_270_2022.csv
data/src/s_d_272_2022.csv
data/src/s_d_280_2022.csv
data/src/s_d_295_2022.csv
data/src/s_d_300_2022.csv
data/src/s_d_310_2022.csv
data/src/s_d_330_2022.csv
data/src/s_d_360_2022.csv
data/src/s_d_375_2022.csv
data/src/s_d_385_2022.csv
data/src/s_d_399_2022.csv
data/src/s_d_400_2022.csv
data/src/s_d_415_2022.csv
data/src/s_d_418_2022.csv
data/src/s_d_424_2022.csv
data/src/s_d_435_2022.csv
data/src/s_d_455_2022.csv
data/src/s_d_465_2022.csv
data/src/s_d_469_2022.csv
data/src/s_d_488_2022.csv
data/src/s_d_495_2022.csv
data/src/s_d_497_2022.csv
data/src/s_d_500_2022.csv
data/src/s_d_510_2022.csv
data/src/s_d_520_2022.csv
data/src/s_d_530_2022.csv
data/src/s_d_540_2022.csv
data/src/s_d_550_2022.csv
data/src/s_d_560_2022.csv
data/src/s_d_566_2022.csv
data/src/s_d_570_2022.csv
data/src/s_d_575_2022.csv
data/src/s_d_580_2022.csv
data/src/s_d_585_2022.csv
data/src/s_d_595_2022.csv
data/src/s_d_600_2022.csv
data/src/s_d_625_2022.csv
data/src/s_d_628_2022.csv
data/src/s_d_650_2022.csv
data/src/s_d_660_2022.csv
data/src/s_d_670_2022.csv
data/src/s_d_690_2022.csv

                      0   1
48     RZESZÓW-JASIONKA  15
22        POZNAŃ-ŁAWICA  12
45        KRAKÓW-BALICE  12
55            NOWY SĄCZ  12
47               TARNÓW  12
49           SANDOMIERZ  12
20  GORZÓW WIELKOPOLSKI  11
13                 PIŁA  11
15                TORUŃ  10
21              SŁUBICE  10
8               KĘTRZYN  10
28              LEGNICA   9
46         KIELCE-SUKÓW   9
35            KOZIENICE   9
25              SIEDLCE   9
37              WŁODAWA   9
24      WARSZAWA-OKĘCIE   9
30  WROCŁAW-STRACHOWICE   9
41                OPOLE   9
17              OLSZTYN   9
16                MŁAWA   9
14             CHOJNICE   9
12        RESKO-SMÓLSKO   9
4                LĘBORK   9
18            MIKOŁAJKI   9
19            BIAŁYSTOK   8
32               WIELUŃ   8
43          CZĘSTOCHOWA   8
44   KATOWICE-MUCHOWIEC   8
56               KROSNO   8
36      LUBLIN-RADAWIEC   8
33        ŁÓDŹ-LUBLINEK   8
57                LESKO   8
50               ZAMOŚĆ   8
1              KOSZALIN   8
11             SZCZECIN   8
26             TERESPOL   8
42             RACIBÓRZ   8
34              SULEJÓW   7
51        BIELSKO-BIAŁA   7
23                PŁOCK   7
9               SUWAŁKI   7
29               LESZNO   6
31               KALISZ   6
27         ZIELONA GÓRA   6
7       ELBLĄG-MILEJEWO   6
40              KŁODZKO   5
38         JELENIA GÓRA   5
10          ŚWINOUJŚCIE   5
3                  ŁEBA   5
2                 USTKA   5
0   KOŁOBRZEG-DŹWIRZYNO   5
6         GDAŃSK-ŚWIBNO   4
52             ZAKOPANE   4
5                   HEL   3
39              ŚNIEŻKA   0
53     HALA GĄSIENICOWA   0
54      KASPROWY WIERCH   0

In [2]:
print(col_names)

['station_code', 'station_name', 'year', 'month', 'day', 'temp_max', '-', 'temp_min', '-', 'temp_av', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']