In [2]:
import pandas as pd
import os
from utils import col_names
from functions import calc_hot_days

directory = 'data\src'
temp_threshold = 30
max_hot_days_streak=[]
for filename in os.listdir(directory):
    f = os.path.join(directory, filename).replace("\\","/")
    df = pd.read_csv(f, encoding="windows-1250", sep=',', engine='c', header=None)
    max_hot_days_streak.append(calc_hot_days(df,temp_threshold))

# df = df.rename({0:"station_code", 1:"station_name"}, axis=1)

,station_code,station_name,year,month,day,temp_max,-,temp_min,-,temp_av,...,-,-,-,-,-,-,-,-,-,-
0,354150100,KOŁOBRZEG-DŹWIRZYNO,2022,1,1,8.9,NaN,4.6,NaN,5.5,...,NaN,0,NaN,R,0,9.0,0,9.0,0,8
1,354150100,KOŁOBRZEG-DŹWIRZYNO,2022,1,2,10.9,NaN,5.8,NaN,9.4,...,NaN,0,NaN,R,0,9.0,0,9.0,0,8
2,354150100,KOŁOBRZEG-DŹWIRZYNO,2022,1,3,10.8,NaN,6.4,NaN,7.4,...,NaN,0,NaN,R,0,9.0,0,9.0,0,8
3,354150100,KOŁOBRZEG-DŹWIRZYNO,2022,1,4,7.0,NaN,5.9,NaN,6.0,...,NaN,0,NaN,R,0,9.0,0,9.0,0,8
4,354150100,KOŁOBRZEG-DŹWIRZYNO,2022,1,5,6.5,NaN,1.0,NaN,2.3,...,NaN,0,NaN,Z,6,NaN,0,9.0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,349220690,LESKO,2022,12,27,7.6,NaN,1.6,NaN,4.1,...,NaN,0,8.0,R,0,9.0,0,9.0,0,8
361,349220690,LESKO,2022,12,28,4.1,NaN,-1.1,NaN,1.9,...,NaN,0,8.0,Z,7,NaN,0,9.0,0,8
362,349220690,LESKO,2022,12,29,6.0,NaN,1.9,NaN,4.2,...,NaN,0,8.0,Z,9,NaN,0,9.0,0,8
363,349220690,LESKO,2022,12,30,7.7,NaN,4.0,NaN,5.8,...,NaN,0,8.0,R,0,9.0,0,9.0,0,8
364,349220690,LESKO,2022,12,31,9.3,NaN,4.9,NaN,7.9,...,NaN,0,8.0,R,0,9.0,0,9.0,0,8

In [3]:
print(col_names)

['station_code', 'station_name', 'year', 'month', 'day', 'temp_max', '-', 'temp_min', '-', 'temp_av', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']